*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  color: #000;
  background-color: #ffffff;
  font-weight: 400;
  margin: auto;
  text-underline-offset: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.h2-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;

}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line-height-115 {
  line-height: 115%;
}

.letter-spacing-60 {
  letter-spacing: 60px;
}