.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
    min-height: 109px;
    padding: 92px 49px 91px 51px;
    align-items: center;
    line-height: 135%;
}
  
.header__logo-image {
    max-height: 109px;
    padding-bottom: 4px;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: circle outside;
}

.header__menu-item:first-child {
    list-style: none;
    text-decoration: none;
}

.cover {
    position: relative;
    display: grid;
    max-height: 757px;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    gap: 147px;
}

.cover__image {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 0;
}

.cover__card {
    padding: 165px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;
    text-transform: uppercase;
    z-index: 1;
}

.cover__title {
    font-weight: 700;
    letter-spacing: 30px;
    line-height: 100%;
    display: block;
    font-size: 100px;
}

.cover__description {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    gap: 78px;
    font-weight: 400;
    min-height: 52px;
    padding-top: 135px;
    font-size: 22px;
    line-height: 127.273%;
}

.cover__line {
    white-space: pre-wrap;
    font-size: 22px;
}

.bet-button {
    border: 1px solid #FFF;
    padding: 12px 32px;
}

.lots {
    display: flex;
    flex-direction: column;
    padding: 180px 50px 0 50px;
    gap: 27px;
}

.lots__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
    gap: 25px;
}

.lots__image {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.lots__card::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.lots__card {
    position: relative;
    color: #FFF;
    display: flex;
}

.lots__card-text {
    flex-direction: column;
    z-index: 1;
}

.lots__title {
    padding: 50px 20px 0 40px;
    font-size: 22px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.lots__other-text {
    position: absolute;
    font-size: 20px;
    bottom: 50px;
    right: 40px;
    left: 40px;
}

.lots__outer_text {
    padding-left: 40px;
}

.lots__link {
    padding-top: 3px;
    display: block;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 430px auto;
    gap: 25px;
    padding: 180px 50px 180px 50px;
}

.about-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__logo {
    background-image: url('../images/Ellipse\ 10.svg');
    background-repeat: no-repeat;
    width: 240px;
    align-items: flex-start;
    margin: 0 95px;
}

.about__logo-img {
    position: relative;
    padding: 63px 40px;
    width: 100%;
}

.about__title {
    padding: 101px 0 75px 0;
}

.about__text-info {
    gap: 25px;
}

.about__text {
    font-size: 20px;
    padding-top: 25px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    font-size: 18px;
    padding: 0 50px 90px 50px;
}

.footer__images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 240px;
}

.footer_image {
    height: 48px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}