.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 92 49 92 51px;
    min-height: 291px;
    margin: auto;
}
  
.header__logo {
    padding-top: 92px;
    padding-bottom: 4px;
}
  
  .header__logo-image {
    width: 140px;
    height: 105px;
}
  
.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: circle outside;
}

.header__menu-list:first-child {
    margin-right: 0px;
    list-style-type: 0;
}

.header__menu-item {
}

.header__contact-information {
    flex-direction: column;
}

.banner {
    display: grid;
    height: 757px;
    background-color: #000;
}

.banner__image {
    position: absolute;
    height: 757px;
    width: 1440px;
    opacity: 0.6;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    color: #FFF;
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1;
    margin-top: 165px;
    margin-left: 50px;
    margin-right: 50px;
}