.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    height: 291px;
    margin: 92px 49px 92px 51px;
    line-height: 24.3px;
}
  
.header__logo-image {
    width: 140px;
    height: 105px;
}
  
.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: circle outside;
}

.header__menu-item:first-child {
    list-style: none;
    text-decoration: none;
}

.contact-information {
    flex-direction: column;
    list-style-type: none;
    max-width: 240px;
}

.banner {
    display: grid;
    height: 757px;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    gap: 147px;
}

.banner__image {
    position: absolute;
    height: 757px;
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 0;
}

.banner__card {
    margin-top: 165px;
    margin-left: 50px;
    margin-right: 50px;
    color: #FFF;
    text-transform: uppercase;
    z-index: 1;
}

.banner__title {
    font-weight: 700;
    letter-spacing: 30px;
    display: block;
    font-size: 100px;
    gap: 20px;
}

.banner__description {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    gap: 78px;
    font-weight: 400;
    height: 52px;
    margin-top: 147px;
    font-size: 22px;
    line-height: 127.273%;
}

.banner__line {
    white-space: pre-wrap;
}

.banner__button {
    border: 1px solid #FFF;
    padding: 12px 32px;
}

.lots {
    display: flex;
    flex-direction: column;
    margin: 180px 50px;
    gap: 25px;
}

.lots__images {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px 25px;
}

.lots__img {
    position: relative;
    background: rgba(0, 0, 0, 0.60);
}




.lots__link {
    display: block;
    font-size: 20px;
}

.auction-info {
    margin: 180px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auction__logo {
    background-image: url('../images/Ellipse\ 10.svg');
    background-repeat: no-repeat;
    width: 240px;
    align-items: flex-start;
}

.auction__logo-img {
    position: relative;
    padding: 63px 40px;
}

.about__text-info {
    gap: 25px;
}

.about__text {
    font-size: 20px;
    white-space: pre-wrap;
    gap: 25px;
}


.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    font-size: 18px;
    margin: 92px 49px 92px 51px;
}

.footer__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
}

.footer_image {
    height: 48px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}